@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --radius: 0.65rem;
  --background: hsl(1 0 0);
  --foreground: hsl(0.141 0.005 285.823);
  --card: hsl(1 0 0);
  --card-foreground: hsl(0.141 0.005 285.823);
  --popover: hsl(1 0 0);
  --popover-foreground: hsl(0.141 0.005 285.823);
  --primary: hsl(0.705 0.213 47.604);
  --primary-foreground: hsl(0.98 0.016 73.684);
  --secondary: hsl(0.967 0.001 286.375);
  --secondary-foreground: hsl(0.21 0.006 285.885);
  --muted: hsl(0.967 0.001 286.375);
  --muted-foreground: hsl(0.552 0.016 285.938);
  --accent: hsl(0.967 0.001 286.375);
  --accent-foreground: hsl(0.21 0.006 285.885);
  --destructive: hsl(0.577 0.245 27.325);
  --border: hsl(0.92 0.004 286.32);
  --input: hsl(0.92 0.004 286.32);
  --ring: hsl(0.705 0.213 47.604);
  --chart-1: hsl(0.646 0.222 41.116);
  --chart-2: hsl(0.6 0.118 184.704);
  --chart-3: hsl(0.398 0.07 227.392);
  --chart-4: hsl(0.828 0.189 84.429);
  --chart-5: hsl(0.769 0.188 70.08);
  --sidebar: hsl(0.985 0 0);
  --sidebar-foreground: hsl(0.141 0.005 285.823);
  --sidebar-primary: hsl(0.705 0.213 47.604);
  --sidebar-primary-foreground: hsl(0.98 0.016 73.684);
  --sidebar-accent: hsl(0.967 0.001 286.375);
  --sidebar-accent-foreground: hsl(0.21 0.006 285.885);
  --sidebar-border: hsl(0.92 0.004 286.32);
  --sidebar-ring: hsl(0.705 0.213 47.604);
}

.dark {
  --background: hsl(0.141 0.005 285.823);
  --foreground: hsl(0.985 0 0);
  --card: hsl(0.21 0.006 285.885);
  --card-foreground: hsl(0.985 0 0);
  --popover: hsl(0.21 0.006 285.885);
  --popover-foreground: hsl(0.985 0 0);
  --primary: hsl(0.646 0.222 41.116);
  --primary-foreground: hsl(0.98 0.016 73.684);
  --secondary: hsl(0.274 0.006 286.033);
  --secondary-foreground: hsl(0.985 0 0);
  --muted: hsl(0.274 0.006 286.033);
  --muted-foreground: hsl(0.705 0.015 286.067);
  --accent: hsl(0.274 0.006 286.033);
  --accent-foreground: hsl(0.985 0 0);
  --destructive: hsl(0.704 0.191 22.216);
  --border: hsl(1 0 0 / 10%);
  --input: hsl(1 0 0 / 15%);
  --ring: hsl(0.646 0.222 41.116);
  --chart-1: hsl(0.488 0.243 264.376);
  --chart-2: hsl(0.696 0.17 162.48);
  --chart-3: hsl(0.769 0.188 70.08);
  --chart-4: hsl(0.627 0.265 303.9);
  --chart-5: hsl(0.645 0.246 16.439);
  --sidebar: hsl(0.21 0.006 285.885);
  --sidebar-foreground: hsl(0.985 0 0);
  --sidebar-primary: hsl(0.646 0.222 41.116);
  --sidebar-primary-foreground: hsl(0.98 0.016 73.684);
  --sidebar-accent: hsl(0.274 0.006 286.033);
  --sidebar-accent-foreground: hsl(0.985 0 0);
  --sidebar-border: hsl(1 0 0 / 10%);
  --sidebar-ring: hsl(0.646 0.222 41.116);
}
